.editorContainer {
  position: relative;
  padding: 3rem 30rem;
  min-height: 15rem;
  color: #000000D1;
}

.contentEditable {
  outline: none;
}

.placeholder {
  position: absolute;
  padding-left: 30rem;
  color: #888888;
  top: 3rem;
  left: 1.5rem;
  pointer-events: none;
  user-select: none;
}
