
.uploadImage {
  padding-left: 25rem;
}

.title {
  font-size: 2rem;
  padding-top: 4rem;
  padding-left: 25rem;
  width: 100%;
    font-weight: bold;

}

.editorContainer {
  position: relative;
  font-size: 1.1rem;
  padding: 4rem 25rem;
  min-height: 15rem;
  color: #000000D1;
}

.contentEditable {
  outline: none;
}

.placeholder {
  position: absolute;
  padding-top: 1rem;
  padding-left: 23.6rem;
  color: #888888;
  top: 3rem;
  left: 1.5rem;
  pointer-events: none;
  user-select: none;
}
